/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper q {
    font-size: 28px;
  }

  .top-wrapper p {
    font-size: 20px;
  }

  .dot{
    height: 15px;
    width: 15px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  

  .header-right{
    display:none;
  }

   .top-wrapper q {
    font-size: 18px;
  }

  .top-wrapper p {
    font-size: 18px;
  }

  .column{
    width:100%;
    margin-bottom: 5px;
    margin-top: 1px;
    padding: 18px 18px;
  }


}